name: Metrics
on:
  # Schedule to run every 12 hours
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          # Output filename
          filename: metrics.svg

          # Base content
          base: header, activity, community, repositories, metadata
          
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
